.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
    font-size: 20px;
}

.form-control input {
    font: inherit;
    border-radius: 5px;
    border: 2px solid #3f8aaa;
    font-size: 22px;
    margin-top: 10px;
}

button {
    font: inherit;
    border: 2px solid #3f8aaa;
    color: #3f8aaa;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #3f8aaa;
    color: white;
}